:root {
  --dark: black;
  --light: white;
}

.dark {
  background-color: var(--dark);
  color: var(--light);
  --button-color: var(--light);
  --font-color: var(--light);
}

.light {
  background-color: var(--light);
  color: var(--dark);
  --button-color: var(--dark);
  --font-color: var(--dark);
}

body {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

button, button:focus, button:focus-visible {
  outline: none;
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
